<form action="/form" method="post" class="search-line">
    <label for="url">Введите ссылку на нужный пост:</label><br>
    <input name="url" id="url" type="url" pattern="https?:\/\/vk\.com\/.*wall(-?\d+_\d+).*" required
           placeholder="https://vk.com/your-nickname?w=wall4737294_3139"/>
    <button class="btn waves-effect waves-light search-btn" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
</form>
